<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="expertsofttechsolution" sortOrder="400" translate="label">
			<label>Expert Soft Tech Solution</label>
		</tab>
		<section id="expertsofttechsolution_reindex" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
			<label>Reindex</label>
			<tab>expertsofttechsolution</tab>
			<resource>Expertsofttechsolution_Reindex::config_expertsofttechsolution_reindex</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
			    <label>General</label>
				<attribute type="expanded">1</attribute>
				<field id="version" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Extension Version</label>
					<frontend_model>Expertsofttechsolution\Reindex\Block\Adminhtml\System\Config\Form\Field\Version</frontend_model>
				</field>
			     <field id="link" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Configuration</label>
					<frontend_model>Expertsofttechsolution\Reindex\Block\Adminhtml\System\Config\Form\Field\Link</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>
